/* main column sections */
section.mainnav {
  margin: 0 0 32px;
}

section.mainnav header {
  padding: 2px 4px 2px 16px;

  color: #fff;
  background-color: #a9d46d;
  font-size: 20px;
}

section.mainnav nav {
  padding: 4px 0 0;
}


/* vim:set ai et ts=2 sw=2 sts=2: */
