/*** section list & board list ***/
/** common styles **/
/* section-wide styles */
.brd-list {
  margin: 0 0 64px;
}

.brd-list>header {
  margin: 0 0 16px;
}

.brd-list>header>h1 {
  color: #a9d46d;
  font-size: 32px;
}


/* list item */
.brd-list>.brd-nav>.brd-nav-list>.brd-item {
  border-bottom: 1px solid #a9d46d;
  height: 64px;

  position: relative;
}

.sec-list>.brd-nav>.brd-nav-list>.brd-item {
  height: 48px;
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item:last-child {
  border-bottom: none;
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item:hover {
  background-color: #eaf5dc;
}

/* section ordinal/board id */
.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-title>.brd-item-ord {
  color: #6a0;
  opacity: 0.3;
  font: 100 40px/1.5 "Segoe UI Light", "Segoe UI", helvetica, sans-serif;

  position: absolute;
  left: 8px;
  top: 0;
  z-index: 5;

  -moz-transition: opacity 0.15s ease 0s;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
}

.sec-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-title>.brd-item-ord {
  font-size: 36px;
}

.sec-list>.brd-nav>.brd-nav-list>.brd-item:hover>.brd-item-title>.brd-item-ord {
  opacity: 0.8;
}

/* section name/board name */
.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-title>.brd-item-name {
  color: #6a0;
  opacity: 0.4;
  font-weight: 100;
  font-size: 24px;

  position: absolute;
  bottom: 0;
  left: 8px;
  z-index: 10;

  -moz-transition: left 0.15s ease 0s, opacity 0.15s ease 0s;
  -webkit-transition: left 0.15s ease 0s, opacity 0.15s ease 0s;
  -o-transition: left 0.15s ease 0s, opacity 0.15s ease 0s;
  transition: left 0.15s ease 0s, opacity 0.15s ease 0s;
}

.sec-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-title>.brd-item-name {
  font-size: 24px;
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item:hover>.brd-item-title>.brd-item-name {
  left: 30px;
  opacity: 1;
}

/* bottom-right corner info */
.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-data {
  z-index: 7;

  position: absolute;
  right: 0;
  bottom: 0;
}

/* topics */
.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-data>.brd-item-topics {
  color: #000;
  opacity: 0.2;

  display: inline-block;
  float: left;

  -moz-transition: opacity 0.15s ease 0s;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item:hover>.brd-item-data>.brd-item-topics {
  opacity: 0.5;
}

/* topic item */
.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-data>.brd-item-topics>.brd-item-topic {
  float: left;
  font-size: 18px;
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-data>.brd-item-topics>.brd-item-topic:before {
  content: "[";
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-data>.brd-item-topics>.brd-item-topic:after {
  content: "]";
}

/* BM list */
.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-data>.brd-item-bm-list {
  float: left;
  color: #000;
  font-size: 18px;
  opacity: 0.2;
  margin: 0 8px 0 0;

  -moz-transition: opacity 0.15s ease 0s;
  -webkit-transition: opacity 0.15s ease 0s;
  -o-transition: opacity 0.15s ease 0s;
  transition: opacity 0.15s ease 0s;
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-data>.brd-item-bm-list:before {
  content: "BM:";
  float: left;
  margin: 0 4px 0 0;
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item:hover>.brd-item-data>.brd-item-bm-list {
  opacity: 0.5;
}

.brd-list>.brd-nav>.brd-nav-list>.brd-item>.brd-item-data>.brd-item-bm-list>.brd-item-bm {
  float: left;
}


/* vim:set ai et ts=2 sw=2 sts=2: */
