/* based on the Sticky Footer Solution | http://www.cssstickyfooter.com */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

.root {
  overflow:auto;
	padding-bottom: 128px; /* must be same height as the footer */
}

footer.toplevel {
  position: relative;
	margin-top: -128px; /* negative value of footer height */
	height: 128px;
	clear: both;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}


/* vim:set ai et ts=2 sw=2 sts=2: */
