html {
  font-family: "Microsoft YaHei", "WenQuanYi Micro Hei Light", "WenQuanYi Micro Hei", sans-serif;
  font-size: 15px;
}

footer {
  text-align: center;
  font-size: 12px;
}


/* vim:set ai et ts=2 sw=2 sts=2: */
