## -*- coding: utf-8 -*-
<%inherit file="inc/base.html" />

<div class="maincontentwrapper">
  <div class="contentcontainer">
    <div class="content">
      <section class="mainnav recommend">
        <header>
          <h1>推荐文章</h1>
        </header>
        <nav>
          <ul>
            <li>
              <a href="#">大家好我是推荐文章</a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </div>
</div>

<aside class="right">
  <div class="sidecontainer">
    <section class="sidenav topten">
      ${show_topten()}
    </section>

    <section class="sidenav bless">
      ${show_bless()}
    </section>

    <section class="sidenav news">
      ${show_news()}
    </section>

    <section class="sidenav topseeds">
      ${show_seeds()}
    </section>
  </div>
</aside>


<%def name="show_topten()">
<header>
  <h1>今日十大</h1>
</header>
<nav>
  <ul class="global-hot-list">
  </ul>
</nav>
</%def>


<%def name="show_bless()">
<header>
  <h1>今日祝福</h1>
</header>
<nav>
  <ul>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
    <li>
      <a href="#">bless</a>
    </li>
  </ul>
</nav>
</%def>


<%def name="show_news()">
<header>
  <h1>热点新闻</h1>
</header>
<nav>
  <ul>
    <li>
      <a href="#">山东枣庄抓获一只成年母狮</a>
    </li>
    <li>
      <a href="#">山东一青年调戏少女被打死</a>
    </li>
    <li>
      <a href="#">小学生上网吧被温总理当场抓住</a>
    </li>
    <li>
      <a href="#">山东枣庄抓获一只成年母狼</a>
    </li>
    <li>
      <a href="#">山东警方再击毙一只似虎动物</a>
    </li>
    <li>
      <a href="#">山东警方再击毙一只似西瓜动物</a>
    </li>
    <li>
      <a href="#">小米科技招聘中、高级Python开发工程师</a>
    </li>
    <li>
      <a href="#">恭喜傻娜同♀志勇夺2012日萌一预06组冠军</a>
    </li>
    <li>
      <a href="#">我靠怎么山东新闻这么多</a>
    </li>
    <li>
      <a href="#">好像又有奇怪的东西混进去了</a>
    </li>
  </ul>
</nav>
</%def>


<%def name="show_seeds()">
<header>
  <h1>置顶种子</h1>
</header>
<nav>
  <ul class="top-seeds-list">
  </ul>
</nav>
</%def>


<%block name="scripts">
<script type="text/x-handlebars-template" id="global-hot-tmpl">
  {{#posts}}
  <li>
  <h2><a href="//bbs.jnrain.com/rainstyle/disparticle.php?boardName={{board}}&ID={{id}}">{{title}}</a></h2>
  <!-- <span class="author">{{author}}</span> -->
  </li>
  {{/posts}}
</script>

<script type="text/x-handlebars-template" id="top-seeds-tmpl">
  {{#seeds}}
  <li>
  <a href="{{link}}">{{name}}</a>
  </li>
  {{/seeds}}
</script>

<script>
$(document).ready(function() {
  var global_hot_list=$('.global-hot-list');
  var seed_list=$('.top-seeds-list');
  var global_hot_tmpl=Handlebars.compile($('#global-hot-tmpl').html());
  var top_seeds_tmpl=Handlebars.compile($('#top-seeds-tmpl').html());

  $.getJSON(
    'http://bbs.jnrain.com/rainstyle/topten_json.php?callback=?',
    function(data, text_status, jqXHR) {
      global_hot_list.empty().html(global_hot_tmpl(data));
    });

  $.getJSON(
    'http://bt.jnrain.com/get_top_seed_json.php?callback=?',
    function(data, text_status, jqXHR) {
      seed_list.empty().html(top_seeds_tmpl(data));
    });
  });
</script>
</%block>


## vim:set ai et ts=2 sw=2 sts=2 ff=unix fenc=utf-8 syn=mako:
