## -*- coding: utf-8 -*-
<%inherit file="inc/base.html" />

<div class="maincontentwrapper">
  <div class="contentcontainer">
    <div class="content">
      <section class="sec-list brd-list">
        <header>
          <h1>分区列表</h1>
        </header>
        <nav class="brd-nav">
        <ul class="brd-nav-list">
          % for sec_ord, sec in sections.items():
          ${show_sec_item(sec_ord, sec['name'], sec['topics'])}
          % endfor
        </ul>
        </nav>
      </section>
    </div>
  </div>
</div>

<aside class="right">
  <div class="sidecontainer">
    <section class="sidenav topten">
      ${show_sec_topten()}
    </section>
  </div>
</aside>


<%def name="show_sec_item(sec_ord, sec_name, sec_topics=[])">
<li class="brd-item">
  <h2 class="brd-item-title">
    <span class="brd-item-ord">${sec_ord}</span>
    <a href="/sec/${sec_ord}/" class="brd-item-name">${sec_name}</a>
  </h2>
  <ul class="brd-item-topics clear">
  % for topic in sec_topics:
    <li class="brd-item-topic">${topic}</li>
  % endfor
  </ul>
</li>
</%def>


<%def name="show_sec_topten()">
<header>
  <h1>分区十大</h1>
</header>
<nav>
  <ul>
    <li>
      <a href="#">大家好我是来刷存在感的</a>
    </li>
    <li>
      <a href="#">大家好我也是来刷存在感的</a>
    </li>
    <li>
      <a href="#">刷存在感什么的才不会呢</a>
    </li>
    <li>
      <a href="#">你才阿卡林！你全家都阿卡林！</a>
    </li>
    <li>
      <a href="#">阿卡林的透明力好棒好棒的</a>
    </li>
    <li>
      <a href="#">摇曳百合又要开始了哦</a>
    </li>
    <li>
      <a href="#">I DON'T MONEY</a>
    </li>
    <li>
      <a href="#">专注搅姬30年</a>
    </li>
    <li>
      <a href="#">每天被玩坏的阿卡林可绕地球3圈</a>
    </li>
    <li>
      <a href="#">好像有奇怪的东西混进去了0 0</a>
    </li>
  </ul>
</nav>
</%def>


## vim:set ai et ts=2 sw=2 sts=2 ff=unix fenc=utf-8 syn=mako:
