## -*- coding: utf-8 -*-
<%inherit file="inc/base.html" />

<div class="maincontentwrapper">
  <div class="contentcontainer">
    <div class="content">
      <section class="sec-list brd-list">
        <header>
          <h1>分区列表</h1>
        </header>
        <nav class="brd-nav">
        <ul class="brd-nav-list">
        </ul>
        </nav>
      </section>
    </div>
  </div>
</div>

<aside class="right">
  <div class="sidecontainer">
    <section class="sidenav topten">
      ${show_sec_topten()}
    </section>
  </div>
</aside>

<script type="text/x-jqote-template" id="sec-item-tmpl"><![CDATA[
<* for (var i=0; i<this.sections.length; i++) { var sec=this.sections[i]; *>
<li class="brd-item">
  <h2 class="brd-item-title">
    <span class="brd-item-ord"><*= sec.ord *></span>
    <a href="/sec/<*= sec.ord *>/" class="brd-item-name"><*= sec.name *></a>
  </h2>
  <aside class="brd-item-data clear">
  <ul class="brd-item-topics clear">
  <* for (var j=0; j<sec.topics.length; j++) { *>
    <li class="brd-item-topic"><*= sec.topics[j] *></li>
  <* } *>
  </ul>
  </aside>
</li>
<* } *>
]]></script>

<script>
$(document).ready(function() {
  var brdlist=$('.brd-nav-list');

  $.getJSON(
    '/api/sec/',
    function(data, text_status, jqXHR) {
      brdlist.append($('#sec-item-tmpl').jqote(data, '*'));
    });
  });
</script>


<%def name="show_sec_topten()">
<header>
  <h1>分区十大</h1>
</header>
<nav>
  <ul>
    <li>
      <a href="#">大家好我是来刷存在感的</a>
    </li>
    <li>
      <a href="#">大家好我也是来刷存在感的</a>
    </li>
    <li>
      <a href="#">刷存在感什么的才不会呢</a>
    </li>
    <li>
      <a href="#">你才阿卡林！你全家都阿卡林！</a>
    </li>
    <li>
      <a href="#">阿卡林的透明力好棒好棒的</a>
    </li>
    <li>
      <a href="#">摇曳百合又要开始了哦</a>
    </li>
    <li>
      <a href="#">I DON'T MONEY</a>
    </li>
    <li>
      <a href="#">专注搅姬30年</a>
    </li>
    <li>
      <a href="#">每天被玩坏的阿卡林可绕地球3圈</a>
    </li>
    <li>
      <a href="#">好像有奇怪的东西混进去了0 0</a>
    </li>
  </ul>
</nav>
</%def>


## vim:set ai et ts=2 sw=2 sts=2 ff=unix fenc=utf-8 syn=mako:
