## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <title><%block name="title" /> - 江南听雨 BBS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
<%block name="styles" />
    <!-- framework js -->
<%block name="frameworks" />
    <!--[if lt IE 9]>
      ## HTML5 Shim
    <![endif]-->
  </head>

  <body>
${next.body()}
  </body>
<!-- vim:set ai et ts=2 sw=2 sts=2 ff=unix fenc=utf-8 syn=mako: -->
</html>
