html {
  background-color: #333;
  font-family: "Segoe UI Light", "WenQuanYi Micro Hei Light", "WenQuanYi Micro Hei", "Sans", "Arial", sans-serif;
}

body {
  background-color: #ccc;
}

a {
  text-decoration: underline;
}

div.root {
  margin: 0 16px;
  font-size: 16px;
}

div.header {
  margin: 0 0 32px;
  padding: 16px 0 0;
}

div.header h1 {
  display: inline-block;
  color: #111;
  font-size: 54px;
  font-weight: 200;
  text-shadow: 0 1px 0 #fff;

  padding: 0 64px 8px 0;
  border-bottom: 1px solid #999;
}

div.content {
  color: #333;
  margin: 0 0 64px;
  line-height: 1.75;
}

div.content p {
  font-weight: 200;

  margin: 0 0 16px;
  padding-left: 32px;
  border-left: 2px solid #999;
}

div.content table.env {
  margin: 0 auto;
  max-width: 1000px;
}

div.content table.env thead {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #333;
}

div.content table.env tbody {
  font-family: "Courier New", "WenQuanYi Micro Hei Mono", "Monospace", monospace;
}

div.content table.env>tbody>tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

div.content tr {
  border-bottom: 1px solid #999;
}

div.content tr:last-of-type {
  border-bottom: none;
}

div.content td {
  margin: 3px 6px 3px 3px;
}

div.content ul.listobject {
  border-left: 1px solid #333;
  margin: 6px 0;
}

div.content ul.listobject>li>ul.listobject {
  margin-left: 8px;
}

div.content ul.listobject>li {
  border-bottom: 1px dashed #999;
}

div.content ul.listobject>li:last-of-type {
  border-bottom: none;
}

div.content table.dictobject {
  width: 100%;
}

div.content table.dictobject td.key {
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 1px solid #999;
  width: 25%;
}

div.content table.dictobject td.val {
  width: 75%;
}

div.footer {
  color: #999;
  background-color: #333;

  font-size: 12px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0 1px 0 #111;

  padding: 8px 0 0;
  position: relative;
}

div.footer p {
  line-height: 1.5;
  margin: 0 0 8px;
}


/* vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: */
